<% include header.html %>

<!-- Basic features section-->
<section class="bg-light">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-5">
                <h2 class="display-4 lh-1 mb-4"><%=__('Ad list')%></h2>
                    <TABLE BORDER>
                    <CAPTION ALIGN=bottom><%=__('Ads info.')%></CAPTION>        
                    <TR>
                    <TD><TH><%=__('Title')%></TH><TH><%=__('Sale')%></TH><TH><%=__('Price')%></TH><TH><%=__('Photo')%></TH><TH><%=__('Id')%></TH></TD>
                    </TR>
                    
                    <TR ALIGN=CENTER>    
                    <TH><%=__('Ad 1')%></TH><TD>BMW 4x4</TD><TD>Yes</TD><TD>2345$</TD><TD>"bmw.png"</TD><TD>3218392</TD>
                    </TR>
                    
                    <TR ALIGN=CENTER>    
                    <TH><%=__('Ad 2')%></TH><TD>PC ASUS</TD><TD>No</TD><TD>433$</TD><TD>"pc.jpeg"</TD><TD>42323431</TD>
                    </TR>
                    
                    <TR ALIGN=CENTER>    
                    <TH><%=__('Ad 3')%></TH><TD>PS5 1TB</TD><TD>Yes</TD><TD>676$</TD><TD>"ps5.png"</TD><TD>31223121</TD>
                    </TR>
                    </TABLE>
            </div>
        </div>
    </div>
</section>
<% include footer.html %>